@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: linear .2s;
}

*:focus{
    outline: none;
}
.header1{
    display: none;
}

html::-webkit-scrollbar{
    width: 0.5rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #333;
    border-radius: 5rem;
}

body {
    background: hsl(230, 100%, 98%);
    font-family: "syne" , sans-serif;
}

.fade-in{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease 0.7s, transform 0.5s ease 0.2s;
}

.header {
    height: 5.5rem;
    padding: 15px;
    width: 100vw;
    z-index: 1000;
    overflow: hidden;
    background: hsla(230, 100%, 98%, 95%);
}

.sticky-header{
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #dfdcdc;
    transition: top 0.3s ease; 
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
}

nav ul li a:hover,
nav ul li a:focus{
    color: #028cdc;
    transition: color 0.5s ease;
}

.header-img{
    width: 100vw;
    height: 800px;
    padding: 30px;
    border-radius: 50px;
    object-fit: cover;
}

nav{
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    position: absolute;
    top: 40px;
    right: 0; 
}

nav div{
    position: absolute;
    top: 35px;
    left: 100px;
    color: hsl(202, 94%, 47%);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

nav img{
    position: absolute;
    top: 30px;
    left: 55px;
    object-fit: cover;
    cursor: pointer;
    width: 40px;
    height:40px;
    border-radius: 20px;
}


nav ul li {
    margin-right: 50px;
}

nav ul li:last-child{
    margin-right: 100px ;
}

.header .ri-menu-line,
.header .ri-user-line{
    position: absolute;
    top: 35px;
    visibility: hidden;
    font-weight: 600;
    right: 20px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 1.25em;
}

.header .ri-user-line{
    visibility: visible;
}

@media screen and (max-width: 1023px){
    .header .ri-menu-line{
        top: 20px;
        visibility: visible;
    }

    .header .ri-user-line{
        visibility: hidden;
    }

    .header{
        height: 4rem;
    }
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 6vh;
    top: 115%;
    left: 48%;
}

.blog h1{
 font-size: 2rem;
 padding-bottom: 10px;
 font-weight: 600;
 color: #028cdc;
}

.blog{
    display: flex;
    gap: 12rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 50px;
}

.blog img{
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.move-blog-image{
    transform: scale(1.12);
}

.blog p em{
    font-style: normal;
    color: #0796E7;
}

.blog div{
    margin-bottom: 40px;
    padding: 2px;

}

.blog p{
    font-size: 1.4em;
    width: 30vw;
}

.line-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 60vw;
    height: 0.3vh;
    background: #3ea2e1;
}

.line:hover{
    background: #0796E7;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #f0f0f0;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.full-container{
    transform: scale(1.2);
    background-color: #f0f0f0;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .4s linear;
}

.sub-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 30px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.sub-container:hover {
    transform: scale(1.1);
}

.sub-container a{
    background: linear-gradient(to top, #028cdc , #b1daf3);
    padding: 5px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 50px;
}

.sub-container a:hover{
    background: white;
    color: #028cdc;
    border: 1px solid #028cdc;
    transform: scale(1.1);
}

.heading{
    height: 100%;
    width: 100%;
    margin: 50px 0 50px 0;
    overflow: hidden;
    align-items: left;
    justify-content: left;
}

.message-container{
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    display: flex;
}

.message-container .sub-container:hover{
    transform: translateY(-20px);
}

.last-container{
    width: 100%;
    background: rgba(2, 140, 220);
    padding: 70px;
    justify-content: center;
    display: flex;
}

.last-container .inner-container{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

legend{
    color: white;
}

.first-class ul li{
    padding-top: 30px;
}

.first-class ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

@media screen and (max-width: 600px){
    .inner-container{
    }

    .last-container{
        display: block;
        padding: 10px;
    }
}

#sidebar {
    height: 100vh;
    width: 300px;
    background-color: #444;
    position: fixed;
    top: 0;
    left: -300px;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 2000;
    align-items: center;
}

#sidebar a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #545252;
    transition: background-color 0.3s ease;
}

#sidebar a:hover {
    background-color: #555;
    color: white;
}

#content {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
    padding: 16px;
    visibility: hidden;
}

.icons{
    display: flex;
    justify-content: space-between;
    font-size:  2em;
    gap: 2rem;
    cursor: pointer;
    margin: 30px;
}

.icons a{
    color: white;
    text-decoration: none;
}

a .ri-facebook-circle-fill:hover{
    color: #036aa6;
    transition: color .5s ease-in;
}

a .ri-instagram-line:hover{
    color: rgb(252, 29, 252);
    transition: color .5s ease-in;
}

a .ri-linkedin-fill:hover{
    color: #878585;
    transition: color .5s ease-in;
}

a .ri-twitter-fill:hover{
    transform: scale(1.3);
    transition: transform .5s ease-in;
}


@media screen and (max-width: 1024px) {

    *{
        transition: 0;
    }

    body {
        min-height: 200vh;
    }

    .header{
        display: block;
    } 

    nav a{
        display: none;
    }

    .header nav div{
        visibility: visible;
        font-size: 1em;
        top: 23px;
        left: 65px;
    }

    .header nav img{
        display: block;
        top: 15px;
        left: 20px;
    }

    .header-img{
        padding: 10px;
        height: 600px;
        border-radius: 25px;
    }

    .container,
    .message-container{
        display: block;
        margin: 0;
        width: 100%;
    }

    .blog{
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        margin: 0;
        align-items: left;
    }

    .blog div{
        width: 100%;
        margin: 5px;
    }

    .blog div h1{
        padding: 8px;
    }

    .blog div p{
        width: 100%;
        padding: 8px;
        margin-bottom: 40px ;
        font-size: 1.3em;
    }

    .blog img{
        margin: 0;
        height: 50vh;
        padding:10px;
        width: 100%;
    }
    
    #content{
        visibility: visible;
    }


}


@keyframes slideLeft{
    from{transform: translatex(300%)}
  }
  
  @keyframes slideRight{
      from{transform: translateX(-300%);}
  }
  
  @keyframes slideUp{
      from{transform: translateY(50%)}
  }
  
  @keyframes fadeIn{
      from{opacity: 0;}
      to {opacity: 1;}
  }
  
  @keyframes bounce{
    from{
      transform:translate3d(0,0,0);
    }
    to{
      transform:translate3d(0 ,200px ,0)
    }
  }
