.new-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin:  auto;
    padding: 50px;
}

.first-paragraph{
    max-width: 900px;
    font-size: 1.2em;
    line-height: 50px;
}


.anime{
    width: 500px;
    border-radius: 50px;
    object-fit: cover;
    box-shadow: 10px 15px 20px #c6c5c5;
    height: 500px;
}

.slide-anime{
    animation-name: slideRight;
    animation-duration: 0.7s;
}

.first-paragraph{
    text-align: left;
    border-radius:20px;
    width: 100%;
    background: linear-gradient(#028cdc,#003f5e);
    padding: 40px;
    color: white;
}

.slide-first-paragraph{
    animation-name: slideLeft;
    animation-duration: 0.7s;
}

@keyframes slideLeft{
  from{transform: translatex(300%)}
}

@keyframes slideRight{
    from{transform: translateX(-300%);}
}

@keyframes slideUp{
    from{transform: translateY(50%)}
}

@keyframes fadeIn{
    from{opacity: 0;}
}

.box{
    width: 100%;
    height: auto;
    margin: auto;
    font-size: 1em;
    border: 1px solid transparent;
}

.slide-box{
    animation-name: slideRight;
    animation-duration: 1.2s;
}

.box .box-one{
    display: inline-block;
}

@media screen and (max-width : 1124px){

    .new-input{
        padding: 0;
    }

    .second-div h1{
        font-size: 1em;
        margin: 0;
    }

    .first-paragraph{
        width: 100%;
        margin: 0;
        border-radius: 0;
        margin-top: 10px;
        font-size: 1.3em;
    }

    .anime{
      display: none;
    }

    .box{
        width: 100%;
        padding: 30px;
        font-size: 0.7em;
        color: #111;
    }
}
